.work__header {
  text-align: center;
  @media (min-width: $smedium + 1) {
    margin: 2rem 0 5rem;
  }
  @media (max-width: $smedium) {
    margin: 2rem 0;
  }
}

.work__desc {
  opacity: .6;
  outline: none;
  @media (min-width: $smedium + 1) {
    padding-left: 5%;
    padding-right: 5%;
  }
  @media (max-width: $smedium) {
    &--off {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: var(--title-line-clamp, 3);
      word-break: break-word;
    }
  }
}

.gallery {
  --space: 8px;
  @media (min-width: $smedium + 1) {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin: - calc(var(--space) / 2);

    &__item,
    &__link {
        flex-basis: 50%;
        max-width: 50%;
        flex-grow: 0;
        flex-shrink: 0;
        padding: var(--space);
        outline: none;
        &--portrait {
          flex-basis: 100%;
          max-width: 100%;
        }

      padding: 5px;
    }
  }
  @media (max-width: $smedium) {
    display: grid;
    grid-gap: var(--space);
  }
}

.ril__caption,
.ril__toolbar,
.ril__navButtonNext,
.ril__navButtonPrev {
  background-color: transparent;
}

.ril__image {
	transition: transform .5s cubic-bezier(0.42, 0.63, 0.13, 0.99);
}
